* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
body {
  background-image: radial-gradient(rgb(106, 210, 210), gray);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
li {
  list-style: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
a:hover {
  color: white;
  font-weight: 600;
}
button {
  color: black;
  background-color: aquamarine;
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 10px;
  font-weight: 600;
  width: fit-content;
  border: 1px solid white;
}

button:hover {
  color: white;
  font-weight: 800;
  background-color: aqua;
  border: 1px solid aqua;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
nav .logo {
  font-size: 30px;
}

nav ul {
  display: flex;
  gap: 30px;
  font-size: 18px;
}
input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid white;
}

header {
  padding: 15px 0;
}
.hero-section {
  display: flex;
  align-items: center;
}

.hero-left-section {
  width: 60%;
  padding: 0 8%;
}

.hero-left-section h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-left-section p {
  font-size: 20px;
  font-weight: 400;
}
.hero-left-section span {
  color: greenyellow;
}

.hero-right-section img {
  width: 300px;
  height: 300px;
}
.hero-right-section-btns button {
  display: flex;
  align-items: center;
  gap: 30px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  font-size: 20px;
  color: aqua;
}
footer ul {
  display: flex;
  gap: 30px;
}
footer i {
  color: aqua;
}
